* {
  margin: 0;
  padding: 0;
}              /*  Не уверен со шрифтами   */
@font-face {
  font-family: 'Lato';
  src: url(assets/fonts/Lato/Lato-Regular.ttf) format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(assets/fonts/Lato/Lato-Bold.ttf) format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'Lato';
  src: url(assets/fonts/Lato/Lato-Light.ttf) format("ttf");
  font-weight: 300;
}
/* maven-pro-regular - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Maven_Pro/MavenPro-Regular.ttf) format("ttf");
}

        /* Пока не знаю как проверяется верстка пиксель в пиксель исходя от разрешения экрана..., поэтому попробую сделать статику.*/

/*  body, wrapper   */

body {
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;       
}
.wrapper {
  width: 1020px;
  margin: auto;
  color: #fff;
}
.wrapper h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 300;
  font-size: 22pt;
  
}
.wrapper h3 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  word-spacing: 1px;
}

/* Header */

.header {
  height: 63px;
  background: #323232;
}
/* Если учесть что h1 по заданию должен быть в в header, думаю это лучший вариант*/
.header h1 {
  visibility: hidden;
  font-size: 3px;
}
.nav {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.nav ul {
  list-style: none;
  z-index: 5;
}
.nav ul li {
  display: inline-block;
  margin: 0 4px;
}
.nav a {
  text-decoration: none;
  font-size: 7.21379pt;
  color: #fff;
  text-transform: uppercase;
  word-spacing: -1px; 
  z-index: 5;
}
.nav-dot {
  color: #484c5f;
  font-size: 5px;
}
.nav a:hover {
  color: #2eb398;
}
.logo {
  margin: 0 3px 0 3px;
  align-self: flex-end;
  z-index: 10;
  margin-bottom: 2px;
}
.header-gexagon {
  position: absolute;
  top: -124px;
  z-index: 0;
}
.wrapper .gexagon-0 {
  transition: none;
}
.wrapper .gexagon-0:hover {
  transition: none;
}
.gexagon-0 .hex-layer-2 {
  background-color: #323232;
}
.ul-right {
  margin-right: -2px;
}


/* Slider */

.hexagon-container {
  width: 100%;
}
.row-hr {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom: 65px;
}
.row-hr div {
  display: inline-block;
  width: 410px;
  margin: 11px 30px;
  border-bottom: 1px solid #e4e9eb;
}

.row-hexagon-1,
.row-hexagon-2,
.row-hexagon-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row-hexagon-2,
.row-hexagon-3 {
  margin-top: -42px;
}
.div-border {
  display: inline-block;
  height: 104px;
  width: 1px;
  margin: 0 10px;
  background: #e4e9eb;
}
/* Немогу понять, почему они меньше гдето на 0.5px там где углы 90 гр. */
.gexagon {
  display: inline-block;
  width: 180px;
  height: 210px;
  visibility: hidden;
  margin: 0 10px;
  transform: rotate(120deg);
  overflow: hidden;
  transition: transform 1s ease-in;
}
.hex-layer-1 {
	width: 100%;
	height: 100%;
	visibility: hidden;
	transform: rotate(-60deg);
  overflow: hidden;
}
.hex-layer-2 {
	width: 100%;
	height: 100%;
	background: #cccf;
	transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gexagon:hover:not(.gexagon-14) {
  transform: rotate(-240deg);
  transition: transform 2s ease-in;
}

/* Ячейки гексагонов */
.gexagon-1 .hex-layer-2 {
  background-image: url('assets/img/1.png');
}
.gexagon-2 .hex-layer-2 {
  background-image: url('assets/img/2.png');
}
.gexagon-3 .hex-layer-2 {
  background-image: url('assets/img/3.png');
}
.gexagon-4 .hex-layer-2 {
  background-image: url('assets/img/4.png');
  background-position: 50% -16px;
}
.gexagon-5 .hex-layer-2 {
  background-image: url('assets/img/5.png');
}
.gexagon-6 .hex-layer-2 {
  background-image: url('assets/img/6.png');
}
.gexagon-7 .hex-layer-2 {
  background-image: url('assets/img/7.png');
}
.gexagon-8 .hex-layer-2 {
  background-image: url('assets/img/8.png');
}
.gexagon-9 .hex-layer-2 {
  background-image: url('assets/img/9.png');
}
.gexagon-10 .hex-layer-2 {
  background-image: url('assets/img/10.png');
}
.gexagon-11 .hex-layer-2 {
  background-image: url('assets/img/11.png');
}
.gexagon-12 .hex-layer-2 {
  background-image: url('assets/img/12.png');
}
.gexagon-13 .hex-layer-2 {
  background-image: url('assets/img/13.png');
}
.slider-list {
  margin: 51px 30px 11px;
  width: 94%;
  border-bottom: 1px solid #e4e9eb;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  
}
.slider-item {
  width: 6px;
  height: 6px;
  background: #ddd2c5;
  margin: 7px 3px 11px 0px;
}
.temp-item {
  background: #8b8784;
}


/* Blog */
.about {
  background: #2eb398;
}
article {
  width: 820px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px 0px;
}
 .about-border {
  height: 100%;
  border-left: 1px solid #219d84;
  border-right: 1px solid #219d84;
  padding: 1px 1px;
}
.about-content {
  margin: 55px 0px 48px;
}
.about-foto {
  display: inline-block;
  margin: 0px 5px 0px 8px;
}
.about .gexagon-14 {
  transition: none;
}
 .gexagon-14 .hex-layer-2 {
  background: url('assets/img/face.png') no-repeat;
  background-position: 49% 1px;
  
}
.about-text {
  display: inline-block;
  box-sizing: border-box;
  max-width: 585px;
  height: 100%;
  font-size: 8pt;
  text-justify: auto;
  word-spacing: 2px;
  padding-right: 4px;
} 
.about-text h3 {
  color: #20816d;
  margin-bottom: 10px;
}
.about-text p {
  height: 120px;
  font-size: 9pt;
  font-weight: 300;
  line-height: 20px;

}
.network-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  border: 1px solid #2eb398;
}
.network-icon a img {
  height: 24px;
}

/* Footer */

.get-in-touch {
  background: #323232;
  padding-top: 13px;
  color: #bebebe;
}
.div-border-footer {
  width: 960px;
  margin: 0px 30px 10px;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  box-sizing: border-box;
  padding: 48px 90px 13px;
}
.div-border-footer h2 {
  word-spacing: 2px;
}
.div-border-footer h3 {
 margin-bottom: 12px;
 margin-left: 2px;
 font-size: 12pt;
 letter-spacing: 1px;
}
.footer-left {
  display: inline-block;
  width: 580px;  
}
form {
  background: #323232;
}
fieldset {
  border: none;
}
form input {
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  border: none;
  background: #454545;
  margin: 8px 0;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 10pt;
  padding: 13px 15px;
  word-spacing: -1px;
  font-size: 11px;
}
input::-webkit-input-placeholder {
  color: #bebebe;
}
form textarea {
  width: 100%;
  background: #454545;
  border: none;
  margin: 8px 0;
  font-size: 10pt;
  box-sizing: border-box;
  padding: 10px 15px 5px;
  letter-spacing: -2px;
  word-spacing: -1px;
  text-overflow: ellipsis;
  resize: none;
}
textarea::-webkit-input-placeholder {
  color: #bebebe;
}
.submit-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
form button {
  width: 90px;
  height: 37px;
  background: #2eb398;
  border: none;
  color: #fff;
  margin: 5px 0px 40px;
  font-size: 8.5pt;
}
.footer-right {
  display: inline-block;
  width: 180px;
  margin-left: 15px;
  font-size: 12px;
  vertical-align: top;
}
.footer-right-top {
 margin: 5px 0px 30px;
 line-height: 21px;
}
.footer-right-bottom {
  line-height: 21px;
  padding-top: 5px;
 }
.footer-right-bottom span {
  display: inline-block;
  width: 12px;
  height: 10px;
  margin: auto;
  text-align: center;
  padding-right: 12px;
 }
.real-footer {
  width: 100%;
  height: 43px;
  background: #222222; 
}
.real-footer p {
  color: #3d3d3d;
  font-size: 12px;
  margin-left: 39px;
  padding-top: 15px;
}